.interface-container {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 10000;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.interface-container button {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 20px;
  margin: 5px 0;
  border: 0px solid white;
  outline: none;
  cursor: pointer;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.interface-container button.toggle-settings {
  background-image: svg-load('./../assets/icons/slider_e.svg');
}
.interface-container button.toggle-settings.opened {
  background-image: svg-load('./../assets/icons/slider.svg');
}
.interface-container button.mute {
  background-image: svg-load('./../assets/icons/sound.svg');
}
.interface-container button.mute.muted {
  background-image: svg-load('./../assets/icons/mute.svg');
}
.interface-container button.save {
  background-image: svg-load('./../assets/icons/download_e.svg');
}
.interface-container button.fullscreen {
  background-image: svg-load('./../assets/icons/rotate_e.svg');
}
.interface-container button.fullscreen.stop {
  background-image: svg-load('./../assets/icons/rotate.svg');
}
.interface-container button.randomCircle {
  background-image: svg-load('./../assets/icons/random_e.svg');
}
.interface-container button.save:active {
  background-image: svg-load('./../assets/icons/download.svg');
}
.interface-container button.randomCircle:active {
  background-image: svg-load('./../assets/icons/random.svg');
}
.interface-container .interface {
  position: absolute;
  left: 55px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  width: 160px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  display: none;
  margin-top: 5px;
}
.interface.opened {
  display: flex;
}
.interface > div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
}
.interface > div:first-child {
  margin-top: 0;
}
.interface > div:last-child {
  margin-bottom: 0;
}
.interface label {
  color: white;
  height: 100%;
  padding: 0px 0 5px 0;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
}
/* http://danielstern.ca/range.css/#/ */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.55px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #f14341;
  border-radius: 1.3px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 10px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f35b59;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9.9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #f14341;
  border-radius: 1.3px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 10px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ef2b29;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #f14341;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 10px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  height: 9.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f14341;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f35b59;
}
